/*Général*/
body{height: 100vh;background-color: #dbe4eb;font-family: 'open sans', sans-serif;}
header{background: linear-gradient(30deg, #dbe4eb,#929292);border-bottom: 1px solid #000; border-radius: 20px;}
.center{text-align: center}
h1,h2,h3,h4,h5{font-family: 'Yeseva One', cursive;}
footer{background: linear-gradient(30deg, #dbe4eb,#929292);border-top: 1px solid #000; border-radius: 20px;}
#body{min-height : calc(100vh - 429.6px - 6rem)}
svg{height: 50px;}

/*Navbar*/
.userNoPic{ height: 50px;}
.menuPicture{left: -110px}
.navbarLogo{height: 80px;}
.inlineFlex{display: inline-flex}
.btnSearch{background-image: url('../img/search-solid.svg');background-repeat: no-repeat; background-position: center ;background-size: 29px;}
.languagesList{list-style: none; display: inline-flex;}
.logoLanguages{max-height: 50px;margin-left: 10px;margin-right: 10px;}
.logoLanguages:hover{max-height: 60px;}
.prolongNavbar{margin-right: 0px !important; padding-top: 10px;}
.search{text-align: end; display: flex;}
.userLogo{ height: 70px; border-radius: 35px; -moz-border-radius: 35px; -webkit-border-radius: 35px;}
.titreMenu{padding: .25rem 1.5rem; color: #000000; font-size: 20px;font-family: 'Yeseva One', cursive;}
.titreMenu:hover{text-decoration: none; color: #000000; font-size: 28px}
.menuLangue{height: 70px;}
.btn-outline-success {color: #646363; border-color: #646363; padding: 20px 20px;bottom: 2px;  position: relative;}
.btn-outline-success:hover {background-color: #646363;border-color: #646363; }
.search form{ display: flex;}
.search form div:nth-child(2){ padding-left: 10px; }


/*Pade de Profil*/
.spanProfil{font-weight: 600; text-decoration: underline; }
#profilDesc{line-height: 17px;}
.pictureProfil {max-height: 300px;}

/*Article*/
.blockArticle{min-height: 200px;background-color: #293133; display: flex; margin-bottom: 20px; border-radius: 40px;border: 1px solid #FFFFFF; box-shadow: 5px 5px #FFFFFF;}
.blockArticle:hover{border: 1px solid #FFFFFF;box-shadow: 1px 1px #FFFFFF; text-decoration: none; position: relative; top: 5px; left: 5px;}
.ArticleNoPic{height: 200px;}
.ArticleLogo{height: 200px;}
.imageArticle{text-align: center; padding-top: 10px; padding-bottom: 10px;}
.dateCreated{text-align: right; display: inline; vertical-align: bottom;}
.articleLien{color:#FFFFFF;width: 90%;}
.articleLien:hover{color:#FFFFFF;text-decoration: none}
.descArticle{padding-left: 15px; padding-right: 70px;}
.AdminImgArticle{height: 100px;}
.pictureProfilArticle{height: 100px}
.articleDetails{border: 1px solid #293133; width: 100%; padding: 20px; background-color: #FFFFFF;  border-radius: 50px;}
.voteNo{ height: 50px; display: flex; color: #000000; transform: rotate(180deg)}
.voteYes{ height: 50px; display: flex; color: #000000}
.voteNo:hover{ color: red}
.voteYes:hover{ color: green}
.titreLike{ text-align: right;top: 25px; position: relative;}

/*table admin*/
.middle{vertical-align: middle !important; }
.adminArticle{text-align: left;background-color: #FFFFFF;border: 1px solid #293133; border-radius: 20px;padding: 20px; width:94vw;}
table tr, table th{ border-bottom: 1px solid #293133;}
.articleLienAdmin{color: black; text-decoration: underline}
.bkgreen{background-color: #718C00}
.bkorange{background-color: #F5871F}
.bkred{background-color: red}

/*Comments*/
.pictureProfilComment{height: 60px;border-radius: 30px; top: 10px; position: relative; left: 10px;}
.resultatComment{width : 60%; background-color: #FFFFFF; border-radius: 20px; border: 1px solid #293133;margin-bottom: 15px; padding-left: 20px; padding-right: 20px;}
.textComment{padding-left: 75px; padding-right: 15px}
.pseudoComment{position: relative; top: 15px; left: 15px;}
.signaledcomment{text-align: left; display: block; color: red;left: 20px; position: relative;}
.signaledcomment:hover{color: tomato; text-decoration: none}
.datecomment{text-align: end;}

/*Footer*/
.resauxSociaux{display: block; text-align: center}
.contact{text-align: center}
.bold{font-weight: bold}
.logoSociaux{height: 40px;}
.footerList{list-style: none; text-align: center;}
.titreFooter{color: #000000}
.titreFooter:hover{color: #000000}
.gridCenter{display: grid; text-align: center}
.footer{width: 100%;}
.logoSociaux:hover {height: 50px;}

/*Popup message*/
#messageSuccess{position: fixed; top: 50px; z-index: 999; display: none; width: 100vw;text-align: center;}
#messageError{position: fixed; top: 50px;z-index: 999;display: none;width: 100vw;text-align: center;}


/************************************************************************************************************
*************************************************************************************************************
****************************************         RESPONSIVE       *******************************************
*************************************************************************************************************
*************************************************************************************************************
 */

@media (max-width: 768px) {
    .blockArticle{display: block;}
    .navbarLogo {height: 60px;}
    .titreMenu {padding: 10px;font-size: 15px;}
    .titreMenu:hover {font-size: 18px;}
    .prolongNavbar {display: block;}
    .search{justify-content: center; padding-bottom: 10px;}
    .navbar-nav .dropdown-menu {position: absolute;}
    .userLogo{position: absolute; right: 15px; top: -20px;}
    .menuPicture {left: -190px;top: 60px;}
    .inlineFlex {display: inline-grid; justify-content: center;}
    #btnMenu{z-index: 999; position: absolute; left: 45vw; top: 28px;}
    .navbar-collapse{ flex-basis: 90%!important;}
    .descArticle{ padding-right: 15px;}
}

@media (min-width: 768px) and (max-width: 992px) {
    .navbarLogo {height: 60px;}
    .titreMenu {padding: 10px;font-size: 15px;}
    .titreMenu:hover {font-size: 18px;}
    .prolongNavbar {display: block;}
    .search{justify-content: center; padding-bottom: 10px;}
    .navbar-collapse{flex-basis: 90%!important;}
}