{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row ">
            <div class="col-12">
                <h1 class="center mt-5 mb-5">Memento, le pense bête qu'il vous faut!</h1>
                <p class="textAcceuil">
                    Bienvenue sur mon futur blog Memento,
                <br>
                    Ce site a pour but d'agrandir mon portfolio personel et de regrouper plein de pense-bêtes utiles dans le plus de languages de programations possible.
                    Vous pouvez créer vos propres Memento qui seront vérifiés par mes soins avant publication sur le site, vous pouvez commenter et noter les autres Mementos.
                    Si vous voulez ajouter une langue de programmation, merci de me contacter <a  href="{{ path('contact') }}">ici</a>.
                <br>
                    Le site est encore en phase de développement et l'affichage CSS et  plein d'améliorations vont être ajoutées/modifier d'ici ça publication.
                <br>
                    Vous pouvez quand même me contacter pour soumettre des idées, améliorations ou simplement pour me faire remonter d'éventuelle bug.
                </p>
            </div>
        </div>
    </div>
{% endblock %}