{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <h1 class="center">Memento, le pense bête qu'il vous faut!</h1>
            </div>
        </div>
    </div>
{% endblock %}