<div class="col-12 col-sm-12 col-md-12 col-lg-4 search">
    {{ form_start(resultatsearch) }}
    {{ form_row(resultatsearch.term) }}
    {{ form_row(resultatsearch.save) }}
    {{ form_end(resultatsearch) }}
</div>